services:
  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app

  dev:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    command: bash
    stdin_open: true
    tty: true

  test:
    build: .
    volumes:
      - .:/app
    command: bundle exec rspec
    environment:
      - RACK_ENV=test
