openapi: 3.0.3
info:
  title: API
  version: 1.0.0
paths:
  /health:
    get:
      tags:
        - health
      operationId: getHealth
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /health/ready:
    get:
      tags:
        - health
      operationId: getHealthReady
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /posts:
    get:
      tags:
        - posts
      operationId: getPosts
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    post:
      tags:
        - posts
      operationId: postPosts
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /posts/{id}:
    get:
      tags:
        - posts
      operationId: getPostsByid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /users:
    get:
      tags:
        - users
      operationId: getUsers
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    post:
      tags:
        - users
      operationId: postUsers
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /users/{id}:
    get:
      tags:
        - users
      operationId: getUsersByid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    put:
      tags:
        - users
      operationId: putUsersByid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
    delete:
      tags:
        - users
      operationId: deleteUsersByid
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
  /users/{user_id}/posts:
    get:
      tags:
        - users
      operationId: getUsersByuser_idPosts
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response
        "400":
          description: Bad request
        "500":
          description: Internal server error
components:
  schemas:
    Error:
      type: object
      title: Error
      properties:
        error:
          type: string
    HealthCheck:
      type: object
      title: HealthCheck
      properties:
        status:
          type: string
        version:
          type: string
    Post:
      type: object
      title: Post
      properties:
        body:
          type: string
        id:
          type: integer
        title:
          type: string
        userId:
          type: integer
    User:
      type: object
      title: User
      properties:
        email:
          type: string
          format: email
        id:
          type: integer
        name:
          type: string
